%div.button
 %p Edit Question
= form_for question, url: question_path(question), remote: true, html: {class: "edit_question_form edit-form"} do |f|
 = f.label :content, "Update Form"
 %br
 = f.text_field :content
 %br
 #attache-file-to-question
  - f.fields_for :attachments do |a|
   = render 'layouts/attachment_fields', f: a 
  = link_to_add_association 'add file', f, :attachments, partial: 'layouts/attachment_fields', class: "add-fields-link"
 %br
 = f.submit 'Update a question'
 %br
 = link_to 'Delete my Question', question, method: :delete
%br