.rate-form
 %p#mark="Total rate is #{question.mark}"
 - if question.persisted? && user_signed_in? && question.user_id != current_user.id
  = form_for question.votes.new, remote: true, url: question_votes_path(question), method: :post do |i|
   = i.radio_button :mark, 1
   = i.label :mark, "Good"
   %hr
   = i.label :mark, "Bad"
   = i.radio_button :mark, -1
   %hr
   = i.submit "Rate Question"
  - if @vote = question.votes.where(user: current_user).first
   = link_to "Take back your voice", vote_path(@vote), method: :delete, remote: true, class: "tack_back_voice"