= form_for @question do |q|
  = q.label :title, 'Problem'
  %br
  = q.text_field :title
  %br
  = q.label :content, 'Description'
  %br
  = q.text_field :content
  %br
  = q.submit 'Ask for Help'
  %br
%br
%h3 Question new