%h3 Question Title
= @question.title
%br
%h3 Question Content
= @question.content
%br
- if user_signed_in? && current_user.is_author_of?(@question)
 = link_to 'Delete my Question', question_path(@question), method: :delete
 %br
%br
%h3 Question Answers
.answers
 = render @question.answers
 %hr
.new_answer
 %hr
 = form_for [@question, @question.answers.new], remote: true do |a|
  = a.label :content, 'Form for Answer'
  %br
  = a.text_field :content
  %br
  = a.submit 'Provide an answer'
 %hr
%h3 Question Show
