.question
 %h3= @question.title
 .question_content
  %h3= @question.content
 - if user_signed_in? && current_user.is_author_of?(@question)
  =# link_to_function("Edit Question", "$(this).parent('.question').children('.edit_question_form').fadeToggle()",  class: 'appear_link')
  %div.button
   %p Edit Question
  .edit_question_form
   = form_for @question, url: question_path(@question), remote: true do |f|
    = f.label :content, "Update Form"
    %br
    = f.text_field :content
    %br
    = f.submit 'Update a question'
  %br
  = link_to 'Delete my Question', @question, method: :delete
  %br
 %br
 .new_answer
  %hr
  = form_for [@question, @question.answers.new], remote: true do |a|
   = a.label :content, 'Form for Answer'
   %br
   = a.text_field :content
   %br
   = a.submit 'Provide an answer'
  %hr
 %h3 Question Answers
 .answers
  - if @question.answers.best_first.first.best_answer
   = render @question.answers.best_first.first
  = render @question.answers.where(best_answer: false)
 %hr