.user-page
 .subscriptions-block
  = form_for current_user ,remote: true do |f|
   = f.label :subscibe_on_digest, "Digest subscribtion"
   = f.check_box :subscibe_on_digest, id: "user-digest-subscribtion"
  %hr
  - current_user.subscribtions.each do |subscribtion|
   %ul 
    My Subscribtions
    %li= link_to subscribtion.subscribtable.title, question_path(subscribtion.subscribtable)
    = link_to "Unsubscribe", subscribtion_path(current_user.subscribtions.where(subscribtable: subscribtion.subscribtable).first), remote: true, method: :delete