.answer
 %strong= answer.content
 - if answer.persisted? && user_signed_in? && current_user.is_author_of?(answer.question)
  = form_for answer, url: answer_path(answer), remote: true, html: {class: "vote_answer_form"} do |f|
   .answer-check-box
    - if f.object.best_answer
     #best-answer
      = f.label :best_answer, 'Is this Answer The Best?'
      = f.check_box :best_answer, { class: 'vote-check-box' }
    - else
     = f.label :best_answer, 'Is this Answer The Best?'
     = f.check_box :best_answer, { class: 'vote-check-box' }
   = f.submit 'Yes', class: 'submit-button'
 = render partial: 'layouts/voting', locals: { parent_object: answer }
 .attached-files
  %h4 Attached files
  %ul
  - answer.attachments.each do |attached_file|
   %li
    = attached_file.identifier
 / =# render partial: 'layouts/comment', locals: { parent_object: answer. }
 - if answer.persisted? && user_signed_in? && current_user.is_author_of?(answer) && visibility
  %div.button-answer
   %p Edit Answer
  = form_for answer, remote: true, html: { class: "edit_answer_form" }, data: { type: :json } do |f|
   = f.label :content, "Update Form"
   %br
   = f.text_field :content
   %br
   / #attache-file-to-answer
   /  = f.fields_for :attachable do |attache|
   /   = render 'layouts/attachment_fields', f: attache
   /  = link_to_add_association 'add file', f, :attachments, partial: 'layouts/attachment_fields', class: "add-fields-link"
   / = link_to_remove_association "remove file", f
   %br
   = f.submit 'Update an answer'
  %br
  = link_to 'Delete my Answer', answer_path(answer), method: :delete, remote: true, class: 'delete_answer_link'
  %br
  %br
  = subscribe_to "/answers/#{answer.id}/comments"