.rate-form
 %p="Total rate is #{answer.mark}"
 - if answer.persisted? && user_signed_in? && !current_user.is_author_of?(answer)
  = form_for answer.votes.new, remote: true, url: answer_votes_path(answer), method: :post do |i|
   = i.label :mark, "Good"
   = i.radio_button :mark, 1, id: "answers-rate"
   %hr
   = i.label :mark, "Bad"
   = i.radio_button :mark, -1
   %hr
   = i.submit "Rate Answer"
  - if @vote = answer.votes.where(user: current_user).first
   = link_to "Take back your voice", vote_path(@vote), method: :delete, remote: true